
// SKELETON
// --------

.home {
  background: #474747;
}

.categories_personal {
  background-color: #cee0de;

  .entries.personal {
    @include box-shadow(0 0 30px 10px rgba(0, 0, 0, .2));
    background: $lighter;
    border-top: 0;
    border-bottom: 0;
    color: #fff;

    a {
      color: $darkest;
    }
  }

  a {
    color: $personal;
  }
}

.categories_design {
  background-color: #d8cee0;

  .entries.design {
    @include box-shadow(0 0 30px 10px rgba(0, 0, 0, .2));
    background: $lighter;
    border-top: 0;
    border-bottom: 0;
    color: #fff;

    a {
      color: $darkest;
    }
  }

  a {
    color: $design;
  }
}

.categories_code {
  background-color: #d2e0ce;

  .entries.code {
    @include box-shadow(0 0 30px 10px rgba(0, 0, 0, .2));
    background: $lighter;
    border-top: 0;
    border-bottom: 0;
    color: #fff;

    .caption {
      color: #3bb81b;
    }

    a {
      color: $darkest;
    }
  }

  a {
    color: #3bb81b;
  }
}

.categories_tidbit {
  background-color: #ced8e0;

  .entries.tidbits {
    @include box-shadow(0 0 30px 10px rgba(0, 0, 0, .2));
    background: $lighter;
    border-top: 0;
    border-bottom: 0;
    color: #fff;

    a {
      color: $darkest;
    }
  }

  a {
    color: $tidbits;
  }
}

// Header

.site-header {
  background: $dark;
  border-top: 2px solid #10c6ae;
  padding: $scale-2 0;
  position: relative;
  z-index: 10;

  a {
    color: $lighter;
  }
}


// Home Page

#home-middle {
  position: relative;
  top: 20px;

  @media #{$medium-up} {
    top: -25px;
  }

  .caption {
    margin: 8px;
  }
}

.intro {
  max-width: 400px;

  @media #{$small-only} {
    margin: 0 auto;
    padding: $scale3 0;
    text-align: center;
  }

  @media #{$medium-up} {
    padding: $scale4 0;

    &.code {
      padding: 0 0 $scale4;
    }

    &.design {
      padding: $scale4 0 0; 
    }
  }

  h1 {
    font-size: $scale3;

    @media #{$medium-up} {
      font-size: $scale4;
    }

    @media #{$large-up} {
      font-size: $scale6;
    }
    line-height: 1;
  }

  &.design {
    h1,
    p {
      color: $dark;
      margin: 7px 0 0;
    }
  }

  &.code {
    h1,
    p {
      color: $lighter;
      margin: 7px 0 0;
    }
  }
}

.rectangle-top {
  background-color: $lighter;
  height: 380px;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: -10;
}

.triangle-top-left {
  @include transition(all .5s ease-in-out);
  background-color: $lighter;
  display: none;
  height: 75vh;
  left: -50%;
  position: absolute;
  top: 60px;
  width: 200%;
  z-index: -10;

  @media #{$medium-up} {
    display: block;
    height: 100vh;
    min-height: 875px;
    position: absolute;
    left: -56%;
    top: 0;
    width: 100%;
    transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
  }
}


// Pre Footer

.pre-footer {
  background: $darker;
  padding: $scale-base 0;
  position: relative;
  z-index: 20;

  .social-list {
    margin: 0 auto;
    width: 100%;
    overflow: visible;

    @media #{$medium-up} {
      width: 550px;
    }

    li {
      @extend .text-center;
      margin: $scale1 0;
      padding: 0;
      position: relative;
      width: 33.333%;
      
      @media #{$medium-up} {
        margin: 0 $scale1;
        text-align: left;
        width: auto;
      }
    }

    .fa {
      font-size: $scale3;
    }

    a {
      color: #a0a0a0;
      display: inline-block;

      .caption.social {
        display: none;
        top: 60px;
        color: #fff;
        width: 800px;
        left: -20px;
        position: absolute;
      }

      &:hover {
        .caption.social {
          @media #{$medium-up} {
            display: block;
          }
        }
      }
    }
  }
}


#codepen {
  &:hover {
    color: $code;

    .caption.social {
      color: $code;
    }
  }
}

#email {
  &:hover {
    color: #fff;

    .caption.social {
      color: #fff;
    }
  }
}

#twitter {
  &:hover {
    color: #55abee;

    .caption.social {
      color: #55abee;
    }
  }
}

#dribbble {
  &:hover {
    color: #ea4c89;

    .caption.social {
      color: #ea4c89;
    }
  }
}

#github {
  &:hover {
    color: #9CDAF1;

    .caption.social {
      color: #9CDAF1;
    }
  }
}

#stack-overflow {
  &:hover {
    color: #fe7a29;

    .caption.social {
      color: #fe7a29;
    }
  }
}

#rdio {
  &:hover {
    color: #008fd5;

    .caption.social {
      color: #008fd5;
    }
  }
}


// Footer

.site-footer {
  background: $darkest;
  padding: $scale-base 0;
  position: relative;
  z-index: 10; 

  p,
  a {
    color: #7f7f7f;
    font-size: $scale-1;
  }

  p {
    @media #{$small-only} {
      text-align: center;
    }
  }

  a {
    text-decoration: underline;
  }
}

.circle-mask.small {
  margin-top: -$scale-base/2;
  @extend .marbot-1;
  text-align: center;

  @media #{$medium-up} {
    text-align: right;
  }
}

.url_index .site-footer {
  .circle-mask {
    display: none;
  }
}


// NAVIGATION
// ----------

.primary-nav {
  display: none;
  @media #{$medium-up} {
    display: block;
    position: relative;
  }

  margin: 0;
  padding: 0;

  li {
    @extend .text-center;
    display: block;
    font-size: 16px;
    line-height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
    @media #{$medium-up} {
      display: inline-block;
      float: left;  
      width: 20%;
    }
  }

  a {
    @media #{$small-only} {
      background: $darker;
      border: 1px solid $darkest;
      color: $lighter;
      display: block;
      font-weight: 300;
      margin: 4px 0;
      padding: $scale-2;
      width: 100%;
    }

    @media #{$medium-up} {
      a {
        bottom: 0;
        position: relative;
      }
    }

    &:hover {
      color: #fff;
    }
  }

  &.show {
    clear: both;
    display: block;
    left: 0;
    padding: $scale1;
    position: absolute;
    top: 50px;
    width: 100%;
  }
}

#menu-toggle {
  @include border-radius(3px);
  border: 1px solid #0ac6ae;
  color: #a6e7dc;
  font-size: $scale2;
  padding: 0 $scale-2;

  &.show {
    border-color: #fff;
    color: #fff;
  }
}




// IMAGES
// ------

.lazy {
  @extend .martop-2;
  @include transition(all .3s ease-in-out);
}

.medium {
  float: left;
  height: 85px;
  margin: 2.5%;
  overflow: hidden;
  width: 45%;

  @media #{$medium-up} {
    height: 185px;
    margin: 1%;
    width: 30%;
  }

  .lazy {
    margin-top: 0;
  }
}

.layout-controls {
  margin: 0 auto;
  width: 120px;

  a {
    margin: 0 $scale-base/2;
  }

  .photo-view {
    @include box-sizing;
    @include transition(all .1s linear);
    border: 1px solid #8f8f8f;
    display: inline-block;
    float: left;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    width: 40px;
    
    &.grid {
      padding: 6px;
    }

    &:hover {
      border-color: #fff;

      .lg-square,
      .sm-square {
        background-color: #fff;
      }
    }

    &.active {
      border-color: #f3b914;

      .lg-square,
      .sm-square {
        background-color: #f3b914;
      }
    }
  }

  .lg-square {
    background-color: #8f8f8f;
    display: inline-block;
    height: 22px;
    width: 22px;
  }

  .sm-square {
    background-color: #8f8f8f;
    display: inline-block;
    float: left;
    height: 9px;
    margin: 2px;
    width: 9px;
  }
}




// JOURNAL
// -------

.journal-entry {
  @extend .marbot-2;
}

.journal-box {
  @media #{$large-up} {
    height: 75vh;
  }

  position: relative;

  .scroll-container {
    @extend .padtop-4;
    @extend .padbot-4;

    @media #{$large-up} {
      height: 75vh;
      overflow-y: scroll;
    }
  }

  .caption {
    @extend .marbot-4;
    background: $lighter;
    border-bottom: 1px solid;
    display: block;
    font-size: $scale-base;
    margin-left: -.9375rem;
    overflow: hidden;
    padding-left: .9375rem;
    padding-right: .9375rem;
    position: absolute;
    width: 100%;
  }

  &.dark {
    background: $darker;
    color: $lighter;

    p {
      color: $lighter;
    }

    .caption {
      background: $darker;
    }
  }

  &.light {
    background: $lighter;
    color: $darker;
  }

  &.design {
    .caption,
    a {
      color: $design;
    }

    h3 {
      font-weight: normal;
    }

    @media #{$large-up} {
      &:before {
        background: $lighter;
        content: '';
        display: block;
        height: 75vh;
        left: -100%;
        position: absolute;
        width: 100%;
      }
    }
  }

  &.code {
    .caption,
    a {
      color: $code;
    }

    h3 {
      font-weight: normal;
    }

    @media #{$large-up} {
      &:before {
        background: $darker;
        content: '';
        display: block;
        height: 75vh;
        left: -100%;
        position: absolute;
        width: 100%;
        
      }
    }
  }

  &.personal {
    .caption,
    a {
      color: $personal;
    }

    h3 {
      font-weight: normal;
    }

    @media #{$large-up} {
      &:before {
        background: $darker;
        content: '';
        display: block;
        height: 75vh;
        position: absolute;
        right: -100%;
        width: 100%;
      }
    }
  }

  &.tidbits {
    .caption,
    a {
      color: $tidbits;
    }

    h3 {
      font-weight: normal;
    }

    @media #{$large-up} {
      &:before {
        background: $lighter;
        content: '';
        display: block;
        height: 75vh;
        position: absolute;
        right: -100%;
        width: 100%;
      }
    }
  }
}

.entries {
  background: $darker;
  padding: $scale2 0;

  li {
    font-size: 16px;
    line-height: 1;
    padding: 0;
  }

  a {
    color: $light;
  }

  .no-bullets {
    margin: 0;
    padding: $scale-base/2;
  }

  .caption {
    padding-left: $scale-base/2;
  }

  &.design {
    .caption {
      border-bottom: 1px solid;
      color: $design;
    }

    a:hover {
      color: $design;
    }
  }

  &.code {
    .caption {
      border-bottom: 1px solid;
      color: $code;
    } 

    a:hover {
      color: $code;
    }
  }

  &.personal {
    .caption {
      border-bottom: 1px solid;
      color: $personal;
    }

    a:hover {
      color: $personal;
    }
  }

  &.tidbits {
    .caption {
      border-bottom: 1px solid;
      color: $tidbits;
    }

    a:hover {
      color: $tidbits;
    }
  }
}




// ABOUT
// -----

.about-section {
  padding-top: $scale7;
  position: relative;
}

.about {
  background: #575757 url(../images/nickoffice.jpg) no-repeat;
  background-size: cover;
}