// Variables


// COLORS
// ------

$dark: #575757;
$darker: #383838;
$darkest: #303030;

$light: #969696;
$lighter: #e1e1e1;
$lightest: #fff;

$design: #8031c8;
$code: #74db5a;
$personal: #10C6AE;
$tidbits: #0094c6;




// FONT WEIGHTS
// ------------

$normal: 300;
$bold: 700;




// FONT FAMILIES
// -------------

$anchorText: "museo-sans", "Helvetica Neue", Arial, Sans-serif;
$headingText: "museo-sans", "Helvetica Neue", Arial, Sans-serif;




// SCALE
// -----

// Based on golden ratio
$scale-2: .695rem;
$scale-1: .875rem;
$scale-base: 1.125rem;
$scale1: 1.416rem;
$scale2: 1.82rem;
$scale3: 2.291rem;
$scale4: 2.945rem;
$scale5: 3.706rem;
$scale6: 4.765rem;
$scale7: 5.997rem;
$scale8: 7.71rem;
$scale9: 9.703rem;
$scale10: 12.475rem;