$font-regular: Metric, "helvetica neue", helvetica, arial, sans-serif;
$font-medium: Metric, "helvetica neue", helvetica, arial, sans-serif;
$font-bold: Metric, "helvetica neue", helvetica, arial, sans-serif;
$font-headline: "Tiempos HeadlineTest-Bold", helvetica, serif;

$media-xs: 520px;
$media-sm: 780px;
$media-menu: 820px;
$media-md: 955px;
$media-lg: 1024px;
$media-xl: 1440px;

$red: #E50D45;
$brown: #7A725E;
$dark-brown: #38382E;
$blue-gray: #414C5A;

.brown {
	color: $brown;
}

.redtext {
	color: $red;
}

.whitetext {
	color: #fff;
}

@mixin break($width) {
	@media screen and (min-width:$width) {
		@content;
	}
}

.hide-xs {
	display: none;
	@include break($media-xs) {
		display: block;	
	}
}