@font-face {
  font-family: 'SofiaProRegular';
  src: url('../fonts/Sofia Pro Regular.otf') format('opentype'); /* Safari, Android, iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'SofiaProMedium';
  src: url('../fonts/Sofia Pro Medium.otf') format('opentype'); /* Safari, Android, iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'SofiaProBold';
  src: url('../fonts/Sofia Pro Bold.otf') format('opentype'); /* Safari, Android, iOS */
  font-weight: 600;
}