<header class="site-header">
  <div class="row">
    <div class="small-12 columns">
      <a href="/" title="" class="show-for-small-only left"><img src="images/logo.png" alt="NC" /></a>
      <a id="menu-toggle" class="show-for-small-only right"><i class="fa fa-bars"></i></a>
      <nav>
        <ul class="primary-nav uppercase">
          <li><a href="/photography.html" title="" id="photography">Photography</a></li>
          <li><a href="/artwork.html" title="" id="artwork">Artwork</a></li>
          <li class="hide-for-small"><a href="/" title=""><img src="/images/logo.png" alt="NC" /></a></li>
          <li><a href="/journal.html" title="" id="journal">Journal</a></li>
          <li><a href="/about-nick-comito.html" title="" id="about">About Me</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>