/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/2.1.3/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Metric';
  src: url("/../fonts/Metric-Medium.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'Tiempos HeadlineTest-Bold';
  src: url("/../fonts/Tiempos HeadlineTest-Bold.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: bold;
}
/* line 18, ../sass/_variables.scss */
.brown {
  color: #7A725E;
}

/* line 22, ../sass/_variables.scss */
.redtext {
  color: #E50D45;
}

/* line 26, ../sass/_variables.scss */
.whitetext {
  color: #fff;
}

/* line 36, ../sass/_variables.scss */
.hide-xs {
  display: none;
}
@media screen and (min-width: 520px) {
  /* line 36, ../sass/_variables.scss */
  .hide-xs {
    display: block;
  }
}

/* line 1, ../sass/_grid.scss */
.contain {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
}
@media screen and (min-width: 1024px) {
  /* line 1, ../sass/_grid.scss */
  .contain {
    width: 1024px;
  }
}

/* line 11, ../sass/_grid.scss */
.cols-12 {
  clear: both;
  width: 100%;
}

/* line 16, ../sass/_grid.scss */
.cols-6 {
  width: 100%;
}
@media screen and (min-width: 520px) {
  /* line 16, ../sass/_grid.scss */
  .cols-6 {
    float: left;
    width: 48.339843%;
  }
}

/* line 24, ../sass/_grid.scss */
.cols-7 {
  width: 74%;
}
@media screen and (min-width: 520px) {
  /* line 24, ../sass/_grid.scss */
  .cols-7 {
    width: 57%;
  }
}

/* line 31, ../sass/_grid.scss */
.right {
  float: right;
}

/* line 35, ../sass/_grid.scss */
.left {
  float: left;
}

/* line 39, ../sass/_grid.scss */
.centered {
  clear: both;
  float: none;
  margin: 0 auto;
}

/* line 1, ../sass/_base.scss */
body {
  font-family: Metric, "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 500;
}

/* line 6, ../sass/_base.scss */
p {
  color: #38382E;
  font-family: Metric, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 19px;
  line-height: 22px;
}

/* line 13, ../sass/_base.scss */
strong {
  font-family: Metric, "helvetica neue", helvetica, arial, sans-serif;
}

/* line 17, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #414C5A;
  font-family: "Tiempos HeadlineTest-Bold", helvetica, serif;
}

/* line 22, ../sass/_base.scss */
a {
  color: #E50D45;
}

/* line 1, ../sass/_main.scss */
.nav {
  margin: 0 auto;
}
@media screen and (min-width: 520px) {
  /* line 1, ../sass/_main.scss */
  .nav {
    float: right;
  }
}

/* line 8, ../sass/_main.scss */
body {
  overflow-x: hidden;
}

/* line 12, ../sass/_main.scss */
#home-billboard {
  background-image: url(../images/bg-nick-comito-full-mobile.jpg);
  background-position: 50% -70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}
@media screen and (min-width: 520px) {
  /* line 12, ../sass/_main.scss */
  #home-billboard {
    background-image: url(../images/bg-nick-comito-full.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
    margin: 0 auto;
    position: relative;
  }
}
/* line 29, ../sass/_main.scss */
#home-billboard .rotate-title {
  position: relative;
  bottom: -370px;
  width: 210px;
  margin: 0 auto;
}
@media screen and (min-width: 520px) {
  /* line 29, ../sass/_main.scss */
  #home-billboard .rotate-title {
    bottom: -345px;
  }
}

/* line 40, ../sass/_main.scss */
#about-billboard {
  background-image: url(../images/bg-nick-comito-side.jpg);
  background-position: 42% -70px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}
@media screen and (min-width: 520px) {
  /* line 40, ../sass/_main.scss */
  #about-billboard {
    background-image: url(../images/bg-nick-comito-side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
    margin: 0 auto;
    position: relative;
  }
}
/* line 57, ../sass/_main.scss */
#about-billboard .rotate-title {
  position: relative;
  bottom: -440px;
  width: 210px;
  margin: 0 auto;
}
@media screen and (min-width: 520px) {
  /* line 57, ../sass/_main.scss */
  #about-billboard .rotate-title {
    bottom: -410px;
  }
}

/* line 68, ../sass/_main.scss */
.lead.home {
  padding-top: 50vw;
  max-width: 430px;
}
@media screen and (min-width: 520px) {
  /* line 68, ../sass/_main.scss */
  .lead.home {
    padding-top: 25vw;
  }
}
/* line 75, ../sass/_main.scss */
.lead.home p {
  color: #fff;
  margin-top: 70vw;
  width: 170px;
  font-size: 18px;
}
@media screen and (min-width: 520px) {
  /* line 75, ../sass/_main.scss */
  .lead.home p {
    color: #38382E;
    margin-top: 35px;
    width: auto;
  }
}

/* line 88, ../sass/_main.scss */
.lead {
  padding-top: 50vw;
}
@media screen and (min-width: 520px) {
  /* line 88, ../sass/_main.scss */
  .lead {
    padding-top: 0;
  }
}

/* line 96, ../sass/_main.scss */
.about-para {
  line-height: 26px;
  margin-top: 240px;
}
@media screen and (min-width: 520px) {
  /* line 96, ../sass/_main.scss */
  .about-para {
    margin-top: 140px;
  }
}

/* line 104, ../sass/_main.scss */
.intro {
  position: relative;
  top: 270px;
  font-size: 22px;
}
@media screen and (min-width: 520px) {
  /* line 104, ../sass/_main.scss */
  .intro {
    top: 100px;
  }
}

/* line 113, ../sass/_main.scss */
.lg-title {
  margin-bottom: 25px;
  font-size: 38px;
  line-height: 58px;
}
@media screen and (min-width: 955px) {
  /* line 113, ../sass/_main.scss */
  .lg-title {
    font-size: 48px;
    line-height: 48px;
  }
}

/* line 123, ../sass/_main.scss */
.beliefs {
  padding-left: 42px;
  position: relative;
  top: 250px;
  margin-top: 10vw;
}
/* line 129, ../sass/_main.scss */
.beliefs li {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 35px;
  position: relative;
}
@media screen and (min-width: 955px) {
  /* line 129, ../sass/_main.scss */
  .beliefs li {
    padding-bottom: 52px;
  }
}
/* line 139, ../sass/_main.scss */
.beliefs li:before {
  background: #E50D45;
  content: "";
  display: block;
  left: -42px;
  position: absolute;
  height: 70px;
  top: -18%;
  width: 17.5px;
}
@media screen and (min-width: 955px) {
  /* line 139, ../sass/_main.scss */
  .beliefs li:before {
    top: -12%;
  }
}
/* line 153, ../sass/_main.scss */
.beliefs li .emphasize {
  font-size: 24px;
  text-transform: uppercase;
}

/* line 160, ../sass/_main.scss */
.highlight.red {
  color: #fff;
  padding-right: 15px;
  position: relative;
  z-index: 10;
  display: block;
}
@media screen and (min-width: 780px) {
  /* line 160, ../sass/_main.scss */
  .highlight.red {
    display: inline-block;
  }
}
/* line 170, ../sass/_main.scss */
.highlight.red:before {
  background: #E50D45;
  content: "";
  display: block;
  height: 70px;
  left: -225%;
  position: absolute;
  width: 300%;
  z-index: -10;
  top: -15%;
}
@media screen and (min-width: 520px) {
  /* line 170, ../sass/_main.scss */
  .highlight.red:before {
    left: -200%;
  }
}
@media screen and (min-width: 955px) {
  /* line 170, ../sass/_main.scss */
  .highlight.red:before {
    top: -27%;
  }
}
/* line 188, ../sass/_main.scss */
.highlight.red.align-right {
  padding-left: 15px;
  padding-right: 0;
}
/* line 192, ../sass/_main.scss */
.highlight.red.align-right:before {
  background: #E50D45;
  content: "";
  display: block;
  height: 70px;
  left: auto;
  right: -500%;
  position: absolute;
  width: 600%;
  z-index: -10;
  top: -15%;
}
@media screen and (min-width: 520px) {
  /* line 192, ../sass/_main.scss */
  .highlight.red.align-right:before {
    right: -500%;
  }
}
@media screen and (min-width: 955px) {
  /* line 192, ../sass/_main.scss */
  .highlight.red.align-right:before {
    top: -27%;
  }
}

/* line 213, ../sass/_main.scss */
.selected {
  margin-top: 35px;
  margin-bottom: 70px;
}

/* line 218, ../sass/_main.scss */
.smallcaps {
  font-family: Metric, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 226, ../sass/_main.scss */
footer {
  border-top: 3px solid #000;
  clear: both;
  float: left;
  margin-top: 140px;
  padding: 35px 0;
  text-align: center;
  width: 100%;
}
/* line 235, ../sass/_main.scss */
footer li {
  display: inline;
  font-size: 15px;
  list-style: none;
  margin: 0 17.5px;
  text-transform: uppercase;
}
/* line 243, ../sass/_main.scss */
footer .smallcaps {
  display: block;
  margin: 0 auto 35px;
  position: relative;
  width: 260px;
}
/* line 256, ../sass/_main.scss */
footer .name:after {
  display: inline-block;
  background: #414C5A;
  border-radius: 6px;
  bottom: 1px;
  content: "";
  height: 6px;
  margin: 0 10px;
  position: relative;
  width: 6px;
}
@media screen and (min-width: 520px) {
  /* line 256, ../sass/_main.scss */
  footer .name:after {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  /* line 256, ../sass/_main.scss */
  footer .name:after {
    display: inline-block;
  }
}
/* line 275, ../sass/_main.scss */
footer a {
  color: #38382E;
  display: block;
  padding: 7px 0;
}
@media screen and (min-width: 520px) {
  /* line 275, ../sass/_main.scss */
  footer a {
    display: inline;
  }
}
/* line 284, ../sass/_main.scss */
footer a:hover {
  color: #E50D45;
}

/* line 290, ../sass/_main.scss */
.rotate-title {
  transform: rotate(-270deg);
  font-size: 42px;
  color: #fff;
}

/* line 296, ../sass/_main.scss */
#selected-work {
  padding-top: 280px;
  text-align: center;
}
/* line 300, ../sass/_main.scss */
#selected-work h3 {
  color: #E50D45;
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 306, ../sass/_main.scss */
#selected-work ul {
  margin-bottom: 70px;
}
/* line 310, ../sass/_main.scss */
#selected-work li {
  display: inline;
  font-style: 15px;
  line-height: 2;
  text-transform: uppercase;
  margin: 17.5px;
}

/* line 1, ../sass/_menu.scss */
#nav-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/* line 5, ../sass/_menu.scss */
#nav-toggle:checked + .menu {
  visibility: visible;
  opacity: 1;
}

/* line 11, ../sass/_menu.scss */
#nav-toggle-label {
  background: #E50D45;
  cursor: pointer;
  height: 70px;
  width: 70px;
  display: block;
  margin: -110px auto 0 auto;
  padding-top: 42px;
  position: relative;
  transition: .2s all ease-in-out;
}
@media screen and (min-width: 520px) {
  /* line 11, ../sass/_menu.scss */
  #nav-toggle-label {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: -70px;
  }
}
@media screen and (min-width: 820px) {
  /* line 11, ../sass/_menu.scss */
  #nav-toggle-label {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 955px) {
  /* line 11, ../sass/_menu.scss */
  #nav-toggle-label {
    margin-left: 70px;
    margin-bottom: 70px;
  }
}
/* line 40, ../sass/_menu.scss */
#nav-toggle-label:before, #nav-toggle-label:after {
  content: "";
  display: block;
  height: 3px;
  background: #fff;
  width: 26px;
  margin: 0 auto;
  transition: .2s all ease-in-out;
}
/* line 52, ../sass/_menu.scss */
#nav-toggle-label:before {
  margin-top: 27px;
  margin-bottom: 8px;
}
/* line 62, ../sass/_menu.scss */
#nav-toggle-label.active {
  background: #38382E;
  position: relative;
  z-index: 1500;
}
/* line 67, ../sass/_menu.scss */
#nav-toggle-label.active:before {
  background: #fff !important;
  transform: rotate(-45deg);
  margin-top: 37px;
}
/* line 73, ../sass/_menu.scss */
#nav-toggle-label.active:after {
  background: #fff !important;
  transform: rotate(45deg);
  margin-top: -10px;
}

/* line 81, ../sass/_menu.scss */
#menu {
  background: #E50D45;
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 0;
  transition: .2s height ease-in-out;
  width: 100%;
  z-index: 1000;
}
/* line 91, ../sass/_menu.scss */
#menu.active {
  height: auto;
  margin-top: 35px;
  padding-top: 70px;
  visibility: visible;
}
@media screen and (min-width: 520px) {
  /* line 91, ../sass/_menu.scss */
  #menu.active {
    height: 35px;
    margin-top: 0;
    padding-top: 0;
  }
}
/* line 102, ../sass/_menu.scss */
#menu.active a {
  opacity: 1;
  visibility: visible;
}
/* line 108, ../sass/_menu.scss */
#menu a {
  border-bottom: 1px solid #cd0c3e;
  color: #fff;
  display: block;
  margin: 0 auto;
  font-family: Metric, "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 2.2;
  opacity: 0;
  padding: 24px 0 17px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s opacity ease-in-out;
  visibility: hidden;
}
@media screen and (min-width: 520px) {
  /* line 108, ../sass/_menu.scss */
  #menu a {
    border: 0;
    display: inline-block;
    float: left;
    line-height: 35px;
    padding: 3px 15px;
    text-align: right;
  }
  /* line 133, ../sass/_menu.scss */
  #menu a:hover {
    background: #38382E;
    transition: .2s background ease-in-out;
  }
}
@media screen and (min-width: 780px) {
  /* line 108, ../sass/_menu.scss */
  #menu a {
    padding: 3px 35px;
  }
}
/* line 144, ../sass/_menu.scss */
#menu a.active {
  background: #38382E;
  transition: .2s background ease-in-out;
}

/* line 151, ../sass/_menu.scss */
.header .smallcaps {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 70px;
  width: 260px;
}
@media screen and (min-width: 520px) {
  /* line 151, ../sass/_menu.scss */
  .header .smallcaps {
    display: inline-block;
    float: left;
    top: 0;
    width: auto;
  }
}
/* line 163, ../sass/_menu.scss */
.header .smallcaps span {
  display: inline;
}
@media screen and (min-width: 520px) {
  /* line 163, ../sass/_menu.scss */
  .header .smallcaps span {
    display: block;
  }
}
@media screen and (min-width: 780px) {
  /* line 163, ../sass/_menu.scss */
  .header .smallcaps span {
    display: inline-block;
  }
}
/* line 173, ../sass/_menu.scss */
.header .smallcaps .name:after {
  display: inline-block;
  background: #414C5A;
  border-radius: 6px;
  bottom: 1px;
  content: "";
  height: 6px;
  margin: 0 10px;
  position: relative;
  width: 6px;
}
@media screen and (min-width: 520px) {
  /* line 173, ../sass/_menu.scss */
  .header .smallcaps .name:after {
    display: none;
  }
}
@media screen and (min-width: 780px) {
  /* line 173, ../sass/_menu.scss */
  .header .smallcaps .name:after {
    display: inline-block;
  }
}

/* line 193, ../sass/_menu.scss */
.header {
  padding-top: 70px;
}
@media screen and (min-width: 520px) {
  /* line 193, ../sass/_menu.scss */
  .header {
    float: right;
  }
}
/* line 199, ../sass/_menu.scss */
.header nav {
  float: left;
  margin-left: 35px;
  margin-bottom: 15px;
}

/* line 206, ../sass/_menu.scss */
.social {
  clear: both;
  position: relative;
  top: 105px;
}
@media screen and (min-width: 520px) {
  /* line 206, ../sass/_menu.scss */
  .social {
    float: right;
    padding-right: 25px;
    top: 0;
  }
}
/* line 217, ../sass/_menu.scss */
.social ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
/* line 223, ../sass/_menu.scss */
.social li {
  display: inline;
  padding: 0 17.5px;
}
@media screen and (min-width: 520px) {
  /* line 223, ../sass/_menu.scss */
  .social li {
    display: block;
    margin-bottom: 35px;
    padding: 0;
  }
}

/* line 1, ../sass/_portfolio.scss */
#selected-work {
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  /* line 1, ../sass/_portfolio.scss */
  #selected-work {
    width: 1024px;
  }
}

/* line 10, ../sass/_portfolio.scss */
.absolute-center {
  position: absolute;
  left: 50%;
}
/* line 14, ../sass/_portfolio.scss */
.absolute-center img {
  left: -50%;
}

/* line 19, ../sass/_portfolio.scss */
.design-work {
  margin-bottom: 280px;
}
/* line 22, ../sass/_portfolio.scss */
.design-work img {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
/* line 26, ../sass/_portfolio.scss */
.design-work img.no-shadow {
  box-shadow: none;
}
/* line 32, ../sass/_portfolio.scss */
.design-work.mfe .images {
  background: url("../images/portfolio/mfe-manual-bg.jpg") no-repeat;
}
/* line 38, ../sass/_portfolio.scss */
.design-work.pal .images {
  background-image: linear-gradient(9deg, #61CCAA 0%, #904BDE 95%);
}
/* line 44, ../sass/_portfolio.scss */
.design-work.blu .images {
  background: url("../images/portfolio/BLU-homepage.jpg") no-repeat;
  background-position: 50% 0;
  background-size: 250%;
  padding-bottom: 340px;
}
@media screen and (min-width: 955px) {
  /* line 44, ../sass/_portfolio.scss */
  .design-work.blu .images {
    background-size: 100%;
    padding-bottom: 1460px;
  }
}
/* line 58, ../sass/_portfolio.scss */
.design-work.ral .images {
  background: url("../images/portfolio/RAL-map.jpg") no-repeat;
  background-size: 250%;
}
@media screen and (min-width: 955px) {
  /* line 58, ../sass/_portfolio.scss */
  .design-work.ral .images {
    background-size: 100%;
    padding-bottom: 340px;
  }
}

/* line 71, ../sass/_portfolio.scss */
.images {
  position: relative;
}
/* line 74, ../sass/_portfolio.scss */
.images img {
  position: relative;
}

/* line 82, ../sass/_portfolio.scss */
#mfe-scanner {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 82, ../sass/_portfolio.scss */
  #mfe-scanner {
    display: inline-block;
    top: 70px;
  }
}

/* line 90, ../sass/_portfolio.scss */
#mfe-gen-settings {
  top: -35px;
  left: -35px;
  z-index: 20;
}
@media screen and (min-width: 520px) {
  /* line 90, ../sass/_portfolio.scss */
  #mfe-gen-settings {
    left: auto;
  }
}
@media screen and (min-width: 955px) {
  /* line 90, ../sass/_portfolio.scss */
  #mfe-gen-settings {
    left: -270px;
    left: 45vw;
    top: -35px;
  }
}

/* line 104, ../sass/_portfolio.scss */
#mfe-plate-settings {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 104, ../sass/_portfolio.scss */
  #mfe-plate-settings {
    display: inline-block;
    left: -200px;
    left: 35vw;
    top: 35px;
  }
}

/* line 114, ../sass/_portfolio.scss */
#mfe-angle {
  right: -25px;
  top: 10px;
}
@media screen and (min-width: 955px) {
  /* line 114, ../sass/_portfolio.scss */
  #mfe-angle {
    right: 50vw;
    top: 105px;
  }
}

/* line 123, ../sass/_portfolio.scss */
#mfe-tabs {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 123, ../sass/_portfolio.scss */
  #mfe-tabs {
    display: inline-block;
  }
}

/* line 130, ../sass/_portfolio.scss */
#mfe-manual-mode {
  top: 35px;
}
@media screen and (min-width: 955px) {
  /* line 130, ../sass/_portfolio.scss */
  #mfe-manual-mode {
    left: -70px;
    top: 140px;
  }
}

/* line 138, ../sass/_portfolio.scss */
#mfe-mapping-mode {
  top: 70px;
}
@media screen and (min-width: 955px) {
  /* line 138, ../sass/_portfolio.scss */
  #mfe-mapping-mode {
    right: -35px;
    bottom: -70px;
  }
}

/* line 151, ../sass/_portfolio.scss */
#pal-filters {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 151, ../sass/_portfolio.scss */
  #pal-filters {
    display: inline-block;
    top: 70px;
  }
}

/* line 159, ../sass/_portfolio.scss */
#pal-metrics {
  top: 35px;
}
@media screen and (min-width: 955px) {
  /* line 159, ../sass/_portfolio.scss */
  #pal-metrics {
    left: 70px;
    top: -140px;
  }
}

/* line 167, ../sass/_portfolio.scss */
#pal-job {
  top: 35px;
}
@media screen and (min-width: 955px) {
  /* line 167, ../sass/_portfolio.scss */
  #pal-job {
    top: 70px;
  }
}

/* line 174, ../sass/_portfolio.scss */
#pal-products {
  top: 70px;
  right: 35px;
}
@media screen and (min-width: 955px) {
  /* line 174, ../sass/_portfolio.scss */
  #pal-products {
    display: inline-block;
    right: -70px;
    top: 35px;
  }
}

@media screen and (min-width: 955px) {
  /* line 184, ../sass/_portfolio.scss */
  #pal-markets {
    display: inline-block;
    right: 70px;
  }
}

/* line 191, ../sass/_portfolio.scss */
#pal-product-1 {
  top: 70px;
}
@media screen and (min-width: 955px) {
  /* line 191, ../sass/_portfolio.scss */
  #pal-product-1 {
    top: 15px;
  }
}

/* line 198, ../sass/_portfolio.scss */
#pal-product-2 {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 198, ../sass/_portfolio.scss */
  #pal-product-2 {
    display: inline-block;
    position: absolute;
    left: 105px;
    bottom: -70px;
    z-index: 1;
  }
}

/* line 209, ../sass/_portfolio.scss */
#pal-product-3 {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 209, ../sass/_portfolio.scss */
  #pal-product-3 {
    display: inline-block;
    position: absolute;
    right: 105px;
    bottom: -70px;
    z-index: 1;
  }
}

/* line 225, ../sass/_portfolio.scss */
#blu-product {
  left: -25px;
  top: -35px;
}
@media screen and (min-width: 955px) {
  /* line 225, ../sass/_portfolio.scss */
  #blu-product {
    position: absolute;
    right: 70px;
    top: -35px;
    z-index: 30;
  }
}

/* line 236, ../sass/_portfolio.scss */
#blu-checkout {
  top: 425px;
}
@media screen and (min-width: 955px) {
  /* line 236, ../sass/_portfolio.scss */
  #blu-checkout {
    position: absolute;
    left: -35px;
    top: 350px;
    z-index: 20;
  }
}

/* line 246, ../sass/_portfolio.scss */
#blu-coupon {
  display: none;
}
@media screen and (min-width: 955px) {
  /* line 246, ../sass/_portfolio.scss */
  #blu-coupon {
    display: inline-block;
    right: -24vw;
    top: 1200px;
    z-index: 20;
  }
}

/* line 261, ../sass/_portfolio.scss */
#ral-login {
  top: -35px;
  z-index: 20;
}

/* line 266, ../sass/_portfolio.scss */
#ral-quick-sched {
  left: 0;
  top: 70px;
}
@media screen and (min-width: 955px) {
  /* line 266, ../sass/_portfolio.scss */
  #ral-quick-sched {
    left: -70px;
    position: absolute;
    top: 215px;
    z-index: 10;
  }
}

/* line 277, ../sass/_portfolio.scss */
#ral-quick-view {
  top: 100px;
}
@media screen and (min-width: 955px) {
  /* line 277, ../sass/_portfolio.scss */
  #ral-quick-view {
    top: 560px;
  }
}

/* line 284, ../sass/_portfolio.scss */
#ral-tomorrow {
  top: 140px;
}
@media screen and (min-width: 955px) {
  /* line 284, ../sass/_portfolio.scss */
  #ral-tomorrow {
    bottom: 70px;
    right: 35px;
    position: absolute;
  }
}
