@font-face {
  font-family: 'Metric';
  src: url("/../fonts/Metric-Medium.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'Tiempos';
  src: url("/../fonts/TiemposText-Bold.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: 700;
}
