@font-face {
  font-family: 'Metric';
  src: url("/../fonts/Metric-Medium.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'Tiempos HeadlineTest-Bold';
  src: url("/../fonts/Tiempos HeadlineTest-Bold.otf") format("opentype");
  /* Safari, Android, iOS */
  font-weight: bold;
}
